<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- package-name : com.demoweb.mapper, class-name : BoardMapper -->
<mapper namespace="com.team4.mapper.SubwayMapper">

	<insert id="insertSubway" parameterType="List" >
	INSERT INTO subway (sname, line, snumber) 
	VALUES 
	<foreach collection="list" item="item" separator=",">
	(#{ item.sname }, #{ item.line },#{ item.snumber })
	</foreach>
	</insert>

	<insert id="insertCustomer" parameterType="List" >
	INSERT INTO CUSTOMER (snumber, DATE, HOUR, DIVISION, unumber) 
	VALUES 
	<foreach collection="list" item="item" separator=",">
	(#{ item.snumber }, #{ item.date }, #{ item.hour }, #{ item.division }, #{ item.unumber })
	</foreach>
	</insert>
	
</mapper>